.custom-docunotion-row {
    display: flex;
    direction: row;
    min-height: 0;
    max-height: 100%;
    align-self: center;
    gap: 2rem;
    
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  .custom-docunotion-row-cell {
    /* Change from flex: 1 1 auto to flex: 1 */
    flex: 1;
    /* Add width: 0 to force equal distribution */
    width: 0;
    height: 100%;
    /* Add align-self to ensure individual cells align to the top */
    align-self: flex-start;
    /* text-align: center; */
  }

  .borderFatSolidGreen {
    border: 5px solid green;
  }
  
  .borderFatDashedRed {
    border: 2px dashed red;
  }
  
  .borderFatDashedBlack {
    border: 5px dashed black;
  }