.video-container {
  position: relative;
  width: 100%;
  max-width: var(--content-max-width, 90ch);
  margin-left: auto;
  margin-right: auto;
  padding-top: 56.25%; /* for 16:9 aspect ratio */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.video-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}